[run]
source = src
omit = 
    */tests/*
    */__pycache__/*
    smtp/smtp.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    def close

# Exclude CompanyAccount and SMTPClient classes from coverage
exclude_also =
    class CompanyAccount
    class SMTPClient

[html]
directory = htmlcov
